header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: auto;

  &.full-width {
    width: 100%;
    max-width: 100%;
  }

  &.divide-by-2 {
    &.horizontal {
      grid-template-columns: 50% 50%;

      & > .cell {
        text-align: inherit;

        &:nth-of-type(1) {
          justify-self: start;
        }

        &:nth-of-type(2) {
          justify-self: end;
        }
      }
    }

    &.vertical {
      grid-template-columns: 100%;
      grid-template-rows: auto 46vh 46vh auto;

      & > .cell {
        justify-self: stretch;
        text-align: center;

        &:nth-of-type(1) {
          align-self: end;
          grid-row-start: 1;
          grid-row-end: span 2;
        }

        &:nth-of-type(2) {
          align-self: start;
          grid-row-start: 3;
          grid-row-end: span 2;
        }
      }
    }
  }
}

.border-bottom {
  border-bottom: 1px solid #78757a;
}

@for $size from 1 through 4 {
  .pb-#{$size * 10} {
    padding-bottom: #{$size * 10}px;
  }

  .pr-#{$size * 10} {
    padding-right: #{$size * 10}px;
  }

  .pl-#{$size * 10} {
    padding-left: #{$size * 10}px;
  }

  .pt-#{$size * 10} {
    padding-top: #{$size * 10}px;
  }
}
